[Messages]
MaxSocketMessageLen = 4096
MaxMessagesPerSes = 1.0
MaxMessagesBurst = 3
BacklogLength = 20

[Users]
MinUsernameLength = 3
MaxUsernameLength = 16

[IPBan]
BlacklistPath = ip_blacklist.txt
WhitelistPath = ip_whitelist.txt

[Logging]
ErrorLog =
ChatLog = chat.log
