* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: 16px sans-serif;
}
:focus {
  outline: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #00BCD4;
}
a:hover {
  color: #03a9f4;
  cursor: pointer;
}
body {
  background: #18191d;
}
html, body {
  height: 100% !important;
}
@font-face {
  font-family: 'icon-font';
  src: url('./fonts/font.eot?99698061');
  src: url('./fonts/font.eot?99698061#iefix') format('embedded-opentype'),
       url('./fonts/font.woff?99698061') format('woff'),
       url('./fonts/font.ttf?99698061') format('truetype'),
       url('./fonts/font.svg?99698061#font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em; 
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  font-size: 0.9em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.container {
  display: flex;
  height: 100% !important;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content header {
  height: 60px;
  background: #000;
  /*border-bottom: 1px solid #00BCD4;*/
  display: flex;
  padding: 10px;
  align-items: center;
  color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,1);
}

.content header .users {
  flex: 1;
}
.content header #users-online {
  font-size: 0.85em;
}
.content header .title {
  flex: 2;
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
}
.content header .settings {
  flex: 1;
  font-size: 0.9em;
  text-align: right;
}


#message-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow: auto;
  background: #18191d;
}
#message-wrap::before {
  content: '';
  margin-bottom: auto;
}
#message-wrap .message-list {
  align-self: flex-start;
  background: #2a2f33;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  word-wrap: break-word
}
#message-wrap .message-list.me {
  align-self: flex-end;
}
#message-wrap .message-list .msg {
  color: #eee;
  margin-bottom: 10px;
  max-width: 20em;
  min-width: 10em;
}
#message-wrap .message-list .user {
  color: #00BCD4;
  margin-bottom: 8px;
  font-weight: 900;
}
#message-wrap .message-list.me .user {
  color: #4CAF50;
}
#message-wrap .message-list .system {
  color: #F44336;
  margin-bottom: 8px;
  font-weight: 900;
}
#message-wrap .message-list .time {
  text-align: right;
  color: #999;
  font-size: 0.75em;
}
#notice {
  padding: 15px 20px;
  margin: 5px 10px;
  background: #292e34;
  color: #fff;
}
.message-footer {
  /*border-top: 1px solid #00BCD4;*/
  background: #292e34;
  padding: 10px;
}
.message-footer div {
  display: flex;
  height: 36px;
}
.message-footer input {
  flex: 1;
  padding: 0 10px;
  color: #cbcbcb;
  background: #292e34;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #242424;
}
button:hover {
  cursor: pointer;
}
.btn {
  border-radius: 5px;
  background: #292e34;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  border: 1px solid #242424;
}

.btn.btn-send {
  padding: 0 25px;
  font-size: 1.5em;
}
